:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: normal;
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: green;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

table {
  border-collapse: collapse;
}

table th {
  top: 0;
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 5px solid black;
  text-indent: 0.2rem;
}
table th:last-child {
  border-right: 1px solid black;
}


table td {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-indent: 0.2rem;
  text-align: left;
}
table td:last-child {
  border-right: 1px solid black;
}

div.editable-table-cell {
  display: inline-block;
  outline: none;
}

td.results {
  text-align: end;
}

.result {
  width: 100%;
  /*padding: 0.5rem;*/
}
.efficiency {
  font-size: smaller;
  padding: 0.3em;
}

.pass {
  background-color: green;
  color: white;
}

.fail {
  background-color: darkred;
  color: white;
}

.aborted {
  background-color: gray;
  text-align: center;
}
