/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    margin-inline-end: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 0.7rem #2196F3;
}

input:checked + .slider:before {
    transform: translateX(1.5rem);
}

/* Rounded sliders */
.slider.round {
    border-radius: 3rem;
}

.slider.round:before {
    border-radius: 50%;
}

.setting-name {
    padding-inline-end: 0.3rem;
}
